POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_DB=assetflow

SECRET_KEY=94b7e8d6f3c1a2e9b0d8c4f7a5e3d1c9b6f8a4e2d0c1b7f3a9d5e8c2b4a1f6d31
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=480
